<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Lakshay Chawla | About</title>
</head>

<style>
    #ABTLINK {
        color: #4ecdc4;
    }
</style>

<body>

    <%- include('partials/header.ejs') %>

        <div class="__AbtContainer">
            <div class="__AbtContent">
                <div class="__AbtWrapper1" id="__AbtWrapper1">
                    <h1>About this project</h1><br>

                    <p>
                        Hey there, <br> It’s my pleasure you reached here, obviously, you liked this project and want to explore more, then what are you waiting for, <a href="/newsletter">subscribe to my newsletter</a> if you haven’t till now, to get
                        knowledge about my projects and this website first.
                        <br> So talking about this project this was developed by me, with the latest web tools and packages like nodejs, and its packages like npm, body-parser, ejs, and hosted on Heroku server. This website is just a project to test my
                        learning in full-stack development. To be briefer the major development part is done using front-end web only, and the forms control part is controlled using APIs and backend. The APIs I used were Mailchimp API in Newsletter and
                        formsfree API on the contact page. While building this project, I learned many new concepts, about APIs and responsive web design for a great user experience on any device. For other projects, you can find their description in
                        their about sections.

                    </p>
                </div>

                <div class="__AbtWrapper2" id="__AbtWrapper2">
                    <h2>Want to contribute??</h2>
                    <p>Write to us<a href="mailto:lakshaychawla6677@gmail.com"> here</a> or just drop a message at <a href="/contact" target="_blank" rel="noopener noreferrer">Contact Page</a></p>

                    <br>
                    <h2>Want to get a website like this?</h2>
                    <p>Write to us<a href="mailto:lakshaychawla6677@gmail.com"> here</a></p>

                </div>
            </div>
        </div>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <%- include('partials/footer.ejs') %>

</body>

</html>