@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
}

.HEADER {
    width: 100%;
}

.NAVBAR {
    width: fit-content;
    margin: 0px auto;
}

.LINKLIST {
    list-style: none;
    display: inline-flex;
    margin: auto 20px auto auto;
}

.LINK {
    margin: auto 20px;
    text-align: center;
}

.LINKLIST a {
    text-decoration: none;
    color: black;
}

.LINKLIST a:hover {
    color: #ff3b3f;
}

.SIGNATUREHEAD {
    width: fit-content;
    margin: 10px auto;
}

.CONTAINER {
    margin-top: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.__ProfilePicArea {
    width: fit-content;
    margin: 0 0 0 auto;
}

.OPENINGPARA {
    margin: 0px 100px 50px 10%;
}

.GREET {
    font-size: 30px;
    color: #ff3b3f;
}

.SMALLPARA {
    margin: 20px 0;
    font-size: 30px;
}

.SOCIALLINKS {
    list-style: none;
    margin: 50px auto 0 0;
}

.SOCIALLINKS li {
    display: inline;
    margin-right: 15px;
}

.SOCIALLINKS li a {
    color: #ff3b3f;
}

.SOCIALLINKS li a:hover {
    color: black;
}

.INTRO {
    width: 100%;
    background-color: #CAEBF2;
    padding: 20px 0;
    margin: 50px 0;
}

.__SmallText {
    width: fit-content;
    margin: 20px auto;
}

.__SmallText p {
    font-family: 'Gochi Hand', cursive;
    font-size: 30px;
    color: black;
    font-weight: light;
}

.__SmallText svg {
    color: black;
}

.__Describe {
    width: 80%;
    margin: 0 auto;
}

.__ResumeHead {
    font-family: 'Gochi Hand', cursive;
    font-size: 30px;
}

.__ReqResume {
    width: fit-content;
    margin: 50px auto;
    font-weight: 50;
}

#sbmtbtn {
    display: flex;
    font-weight: bold;
    margin: 20px auto;
    padding: 0;
    padding: 10px 30px;
    background-color: #ff3b3f;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

#sbmtbtn svg {
    position: relative;
    right: 4px;
    top: 1px;
}

.__ReqResume a {
    text-decoration: none;
}

#sbmtbtn:hover {
    color: #4568dc;
    background-color: #CAEBF2;
}

.WORKHEAD {
    width: fit-content;
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
}

footer * {
    background-color: black;
}

footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 20px 0;
}

.OLINKS {
    /* list-style: none; */
    background-color: black;
}

.OLI {
    /* display: inline; */
    background-color: black;
}

.OLI a {
    background-color: black;
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #ff3b3f;
}

.SOCIALLINKSFOOTER {
    list-style: none;
    margin: 40px auto 20px auto;
    width: fit-content;
    background-color: black;
}

.SOCIALLINKSFOOTER li {
    display: inline;
    margin-right: 15px;
    background-color: black;
}

.SOCIALLINKSFOOTER li a {
    color: #eeeeee;
    background-color: black;
}

.SOCIALLINKSFOOTER li svg {
    background-color: black;
}

.SOCIALLINKSFOOTER li a:hover {
    color: #ff3b3f;
}

#CONTACTUS * {
    color: white;
}

.FOOTERWRAPPER {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 50% 50%;
}

#CONTACTUS {
    text-align: right;
}

#footerdes {
    text-align: center;
    color: white;
    margin: 0 auto;
}

#footerdes a {
    color: #ff3b3f;
    text-decoration: none;
}

#footerdes svg {
    position: relative;
    color: white;
    top: 1.5px;
}

p a {
    color: #ff3b3f;
}

.CONCONTAINER {
    width: 90%;
    margin: 100px auto;
    padding: 50px auto;
}

.__Wrapper1 {
    width: 70%;
    min-width: 320pxpx;
    margin: 0 auto;
}

.__Wrapper1 h1 {
    width: fit-content;
    margin: 20px auto;
}

.__Wrapper1 p {
    margin-top: 5px;
}

.__Wrapper1 p svg {
    position: relative;
    top: 2px;
    right: 3px;
}

form * {
    border: 1px solid black;
}

#fname,
#emailmsgbox,
textarea {
    display: flex;
    width: 400px;
    min-width: 400px;
    padding: 5px;
    font-size: 18px;
    border-bottom: 0;
}

#MSGSBMTBTN {
    width: 412.5px;
    padding: 10px;
    cursor: pointer;
    background-color: #ff3b3f;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#MSGSBMTBTN:hover {
    background-color: #ff3b3e93;
}

.CONCONTAINER form {
    width: fit-content;
    margin: 20px auto;
}

.__AbtContainer {
    width: 90%;
    margin: 40px auto 200px auto;
    border-radius: 15px;
    padding: 30px 0 10px 0;
    color: black;
}

.__AbtContainer {
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 30px 0 10px 0;
}

.__AbtContent {
    margin: 30px;
    display: grid;
    grid-template-columns: 60% 30%;
    grid-template-areas: "__AbtWrapper1 __AbtWrapper2";
    grid-gap: 10%;
}

.HOMENEWSLETTER {
    width: 70%;
    margin: auto;
    padding: 100px;
    background-color: transparent;
}

.HOMENEWSLETTER h1 {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    background-color: transparent;
}

.HOMENEWSLETTER form {
    width: fit-content;
    margin: 80px auto;
    background-color: transparent;
}

#EMAILBOX {
    border: 1px solid black;
    font-size: 20px;
    width: 350px;
    padding: 10px;
}

#SBMTBTN {
    height: 49px;
    width: 100px;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #ff3b3f;
    position: relative;
    bottom: 2.5px;
    right: 4px;
}

#SBMTBTNNL {
    height: 49px;
    width: 100px;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #ff3b3f;
    position: relative;
    bottom: 2.5px;
    right: 4px;
}

.HOMENEWSLETTER p {
    margin-top: 40px;
}

@media only screen and (max-width: 900px) {
    .__AbtContent {
        /* background-color: rgb(51, 51, 51, 0.7); */
        width: 95%;
        border-radius: 15px;
        padding: 30px 0 10px 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "__AbtWrapper1" "__AbtWrapper2";
        grid-gap: 0;
    }
    .__AbtWrapper1 {
        width: 90%;
    }
}

@media only screen and (max-width: 750px) {
    .LINK {
        margin: auto 20px;
        text-align: center;
        font-size: 13px;
    }
    .CONTAINER {
        margin-top: 30px;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
    }
    .__ProfilePicArea {
        margin: 0 auto;
    }
    .OPENINGPARA {
        margin: 30px auto;
        text-align: center;
    }
    .SOCIALLINKS {
        margin: 20px auto;
    }
    .__ResumeHead {
        font-size: 18px;
        text-align: center;
    }
    .WORKHEAD {
        font-size: 18px;
    }
    .__SmallText {
        font-size: 18px;
    }
    .LINKLIST {
        display: block;
    }
    .SIGNATUREHEAD {
        width: fit-content;
        margin: 0 auto;
    }
    .SIGNATUREHEAD a img {
        width: 90%;
        max-width: 500px;
        margin: 20px auto;
    }
    .FOOTERWRAPPER {
        text-align: center;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "RIGHTALIGN" "CONTACTUS";
    }
    #CONTACTUS {
        text-align: center;
        margin: 40px 0 20px 0;
    }
    .SMALLPARA {
        font-size: 19px;
    }
    .GREET {
        font-size: 19px;
    }
    #arrowimg {
        margin: 0 auto;
    }
    .__Wrapper1 {
        width: 95%;
        margin: 0 auto;
    }
    #fname,
    #emailmsgbox,
    textarea {
        display: flex;
        width: 300px;
        min-width: 250px;
        padding: 5px;
        font-size: 18px;
        border-bottom: 0;
        margin: 0 auto;
    }
    #MSGSBMTBTN {
        width: 312.5px;
        padding: 10px;
        cursor: pointer;
        background-color: #ff3b3f;
        color: white;
        font-weight: bold;
        font-size: 18px;
    }
    .__Wrapper1 h1 {
        font-size: 18px;
        text-align: center;
    }
    .HOMENEWSLETTER {
        width: 70%;
        margin: 40px auto;
        background-color: transparent;
        padding: 0;
    }
    .HOMENEWSLETTER h1 {
        width: fit-content;
        text-align: center;
        margin: 0 auto;
    }
    .HOMENEWSLETTER form {
        width: fit-content;
        margin: 80px auto;
    }
    #EMAILBOX {
        border: 1px solid black;
        font-size: 17px;
        width: 220px;
    }
    #SBMTBTNNL {
        text-align: center;
        color: white;
        background-color: #ff3b3f;
        position: relative;
        top: 20px;
        display: flex;
        padding: 7px 15px;
        margin: 0 auto;
    }
    .HOMENEWSLETTER p {
        margin-top: 40px;
    }
}